<div class="main-nav mobile-only">
  <span class="hamburger-toggle hamburger-opener" data-hamburger-toggle="hamburger">Menu</span>
  <div class="hamburger-menu" data-hamburger-togglable="hamburger">
    <div class="container-header">
      <div class="flex-row vert-centered">
        <a href="/" class="main-logo">Manifold</a>
        <span class="hamburger-toggle hamburger-closer" data-hamburger-toggle="hamburger">Close</span>
      </div>
    </div>
    <ul class="mobile-main-nav">
      <li class="mobile-main-nav-item"><a href="/">Home</a></li>
      <li class="mobile-main-nav-item"><a href="/learn">Learn</a></li>
      <li class="mobile-main-nav-item"><a href="#">Community</a></li>
      <li class="mobile-main-nav-item"><a href="#">Resources</a></li>
      <li class="mobile-main-nav-item"><a href="/services">Services</a></li>
      <li class="mobile-main-nav-item"><a href="#">Get Started</a></li>
      <li class="mobile-main-nav-item"><a href="#" class="search-link">Search</a></li>
    </ul>
  </div>
</div>
