# Database
.warewolf
.DS_Store

# Packages
/vendor
/node_modules

# Env
/.env

# Logs
*.log

# IDE
/.idea
/idea

# Exclude Brewfile.lock since it is machine dependent
Brewfile.lock.json

# Ignore everything in the public dir with some whitelist
/www/*
!/www/favicon.ico
!/www/index.php
!/www/modules
!/www/plugins
!/www/storage
!/www/themes
/storage/docs

# Ignore everything these dirs with some whitelisting if necessary.
# Most of this will be managed by Composer
/modules/*
/plugins/*
/plugins/castiron/*
!/plugins/castiron
!/plugins/castiron/manifold
!/plugins/castiron/forms
!/plugins/castiron/staticmicrosite


/storage/*
/storage/framework/classes.php
/storage/framework/services.php
!/storage/app/.keep
!/storage/app/media/.keep
!/storage/app/uploads/.keep
!/storage/app/uploads/public/.keep
!/storage/cms/.keep
!/storage/cms/cache/.keep
!/storage/cms/combiner/.keep
!/storage/cms/twig/.keep
!/storage/framework/.keep
!/storage/framework/cache/.keep
!/storage/framework/sessions/.keep
!/storage/framework/views/.keep
!/storage/logs/.keep
!/storage/temp/.keep
!/storage/temp/public/.keep

tmp
