.four-button-callout {
  text-align: center;

  .subtitle {
    max-width: 738px;
    margin: 23px auto 0;
  }

  .button-row {
    flex-wrap: wrap;
    max-width: 860px;
    margin: 0 auto;

    @include respond($break110) {
      justify-content: center;
    }

    > .col {
      justify-content: space-between;
    }

    a {
      padding: 46px 32px 0;
      text-decoration: none;

      @include respond($break110) {
        padding-right: 2.5vw;
        padding-left: 2.5vw;
      }

      @include respond($break110) {
        min-width: 35%;
      }

      @include respond($break20) {
        min-width: 100%;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
