.links-callout {
  .title {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
  }

  .links-grid {
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond($break50) {
      display: block;
    }

    a {
      margin: 60px 60px 0;
      text-align: center;
      text-decoration: none;

      @include respond($break110) {
        margin: 5vw 3vw 0;
      }

      @include respond($break50) {
        display: flex;
        justify-content: space-between;
        max-width: 320px;
        margin: 5vw auto 0;
      }

      @include respond($break30) {
        margin: 29px auto 0;
      }

      /* stylelint-disable max-nesting-depth */
      &:hover {
        .link-text {
          &::after {
            color: $accentDark;
            transform: translateX(15px);

            @include respond($break110) {
              transform: translateX(2vw);
            }
          }

          @include respond($break50) {
            transform: translateX(5vw);

            &::after {
              transform: translateX(0);
            }
          }
        }
      }
      /* stylelint-enable */
    }

    .link-badge {
      position: relative;
      width: 70px;
      height: 70px;
      margin: 0 auto;
      background-color: $white;
      border-radius: 50%;

      @include respond($break50) {
        margin: 0 5vw;
      }

      .icon {
        @include iconPre($human-reading);
        position: absolute;
        top: 10px;
        left: 0;
        text-align: center;

        &::before {
          position: absolute;
          top: 0;
          left: 9px;
          font-size: 50px;
          color: $accentPrimary;
        }

        &::after {
          position: absolute;
          color: $gray09;
        }

        &.icon-book-page-turn::before {
          transform: scale(-1, 1);
        }

        &.icon-book-page-turn::after {
          top: 43px;
          left: 20px;
          font-size: 22px;
        }

        &.icon-laptop::after {
          top: 39px;
          left: 15px;
          font-size: 26px;
        }

        &.icon-laptop-dev::after {
          top: 43px;
          left: 16px;
          font-size: 20px;
        }

        &.icon-bookpile-small::before {
          transform: scale(-1, 1);
        }

        &.icon-bookpile-small::after {
          top: 43px;
          left: 14px;
          font-size: 20px;
        }
      }
    }

    .link-text {
      @include iconPost($arrow-short-right);
      margin-top: 23px;
      color: $gray07;
      text-decoration: none;
      white-space: nowrap;
      transition: transform $timing $durationSlow, color $timing $duration;

      @include respond($break20) {
        margin-top: 25px;
        margin-right: 5vw;
      }

      &::after {
        padding-left: 10px;
        color: $gray03;
        vertical-align: middle;
        transition: transform $timing $durationSlow;
      }
    }
  }
}
