.one-button-callout-centered {
  text-align: center;

  img + .title {
    margin-top: 42px;

    @include respond($break20) {
      margin-top: 25px;
    }
  }

  .title + .description {
    margin-top: 32px;

    @include respond($break20) {
      margin-top: 15px;
    }
  }

  .button {
    display: inline-block;
    margin-top: 36px;
  }
}
