.one-button-callout-centered {
  text-align: center;

  .label {
    color: $black;
    text-transform: uppercase;

    .background-black &, .background-patterned-dark & {
      color: $accentPrimary;
    }

    + img {
      margin-top: 48px;
    }
  }

  img + .title {
    margin-top: 42px;

    @include respond($break20) {
      margin-top: 25px;
    }
  }

  .title + .subtitle {
    margin-top: 32px;

    @include respond($break20) {
      margin-top: 15px;
    }
  }

  .title {
    .background-black & {
      color: $white;
    }

    .background-patterned & {
      color: $white;
    }

    .background-patterned-dark &, .background-gray & {
      color: $accentPrimary;
    }
  }

  .subtitle {
    .background-black & {
      color: $white;
    }

    .background-patterned & {
      color: $black;
    }

    .background-patterned-dark & {
      color: $white;
    }
  }

  .button {
    display: inline-block;
    margin-top: 36px;

    .background-black & {
      color: $white;
    }

    .background-patterned-dark & {
      color: $white;
    }
  }
}
