.video-callout {
  .flex-row {
    @include respond($break100) {
      flex-flow: wrap row-reverse;
    }
  }

  .col.col-2 {
    @include respond($break100) {
      width: 100%;
    }
  }

  .blurb {
    padding-right: 5%;

    @include respond($break110) {
      padding-right: 51px;
    }

    @include respond($break100) {
      padding-right: 0;
    }

    .blurb-title {
      color: $offBlack;

      .background-primary &, .background-patterned & {
        color: $offBlack;
      }

      .background-patterned-dark &, .background-black &, .background-gray & {
        color: $accentPrimary;
      }
    }

    .blurb-subtitle {
      margin-top: 20px;
      color: $white;
    }
  }
}
