// Donezo Generated Icon File:
// File will be overwritten if regenerated

// Icon Variables
// --------------------------------------------------------
$arrow-right: '\e600';
$arrow-short-left: '\e601';
$arrow-short-right: '\e602';
$bar-graph: '\e603';
$binoculars: '\e604';
$book-page-turn: '\e605';
$bookpile-small: '\e606';
$bugle: '\e607';
$caliper: '\e608';
$caret: '\e609';
$cloud-down: '\e60a';
$cone: '\e60b';
$email: '\e60c';
$github: '\e60d';
$gitter-logo: '\e60e';
$glasses: '\e60f';
$hand: '\e610';
$human-reading: '\e611';
$laptop-dev: '\e612';
$laptop: '\e613';
$magnify: '\e614';
$manifold-doc: '\e615';
$manifold-logo: '\e616';
$minus: '\e617';
$nodes: '\e618';
$pencil: '\e619';
$plus: '\e61a';
$quotes: '\e61b';
$transform-square-to-circle: '\e61c';
$triangle: '\e61d';
$twitter: '\e61e';
$venn-diagram: '\e61f';
$watering-can: '\e620';
$word-bubble-multiple: '\e621';
$wrench: '\e622';


@font-face {
  font-family: 'manifold-icons';
  src: url('../fonts/manifold-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/manifold-icons.woff') format('woff'),
    url('../fonts/manifold-icons.ttf') format('truetype'),
    url('../fonts/manifold-icons.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}


@mixin fontIcon {
  font-family: 'manifold-icons', sans-serif;
}

@mixin protoIcon {
  @include fontIcon;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: baseline;
  speak: none;
}

@mixin iconPre($icon) {
  speak: none;

  &::before {
    @include protoIcon;
    content: $icon;
  }
}

@mixin iconPost($icon) {
  speak: none;

  &::after {
    @include protoIcon;
    content: $icon;
  }
}
