<section class="background-primary">
	<div class="block">
		<div class="flex-row contact">
			<div class="contact-summary">
				<div class="heading-primary">Follow our evolution. Sign up for the Manifold newsletter.</div>
				<div class="copy-primary">We’re not inbox monsters. We only say something when we have something worth saying. </div>
			</div>
			<form class="form-primary contact-form">
				<div class="form-input">
					<input type="email" name="email" placeholder="Enter your email address">
				</div>
				<div class="form-input">
					<div class="submit-button button black">
						<input type="submit" value="Sign up" class="button black">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
