<section class="background-{{background}}">
  <div class="block">
    {% partial 'blocks/intro' title='FAQs' %}
    <div class="faqs">
      <ul class="accordions-list">
        {% for faq in faqs %}
          <li class="faq">
            <div class="accordion-toggle" data-accordion-toggle="faq-{{loop.index}}" data-accordion-group="faqs">
              <div class="subheading-tertiary question">{{faq.question}}</div>
            </div>
            <div class="accordion" data-accordion="faq-{{loop.index}}" data-accordion-group="faqs">
              <div class="accordion-inner">
                <div class="copy-tertiary answer">{{faq.answer}}</div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
