<section class="background-{{background}}">
  <div class="faqs block">
    <div class="heading-primary title">Frequently Asked Questions</div>
    <div class="">
      <ul class="accordions-list">
        {% for faq in faqs %}
          <li class="faq">
            <div class="accordion-toggle" data-accordion-toggle="faq-{{loop.index}}" data-accordion-group="faqs">
              <div class="copy-secondary question">{{faq.question}}</div>
            </div>
            <div class="accordion" data-accordion="faq-{{loop.index}}" data-accordion-group="faqs">
              <div class="accordion-inner">
                <div class="answer">{{faq.answer}}</div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
