<footer class="main-footer background-black">
  <div class="container-footer">
    <div class="flex-row top vert-top">
      <nav>
        <ul class="main-nav flex-row">
          <li class="col main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="/">Home</a></li>
              <li class="main-nav-item"><a href="#">Learn</a></li>
              <li class="main-nav-item"><a href="#">Community</a></li>
            </ul>
          </li>
          <li class="col main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="#">Resources</a></li>
              <li class="main-nav-item"><a href="#">Services</a></li>
              <li class="main-nav-item"><a href="#">Terms</a></li>
            </ul>
          </li>
          <li class="col social-nav main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="#" class="icon-email">Email</a></li>
              <li class="main-nav-item"><a href="#" class="icon-github">Github</a></li>
              <li class="main-nav-item"><a href="#" class="icon-twitter">Twitter</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a href="/" class="main-logo">Manifold</a>
    </div>
    <div>
      <form>
        <span class="search-input gray">
          <input  type="text" name="search" placeholder="Search">
        </span>
      </form>
    </div>
    <div class="colophon">
      © 2017 Manifold. Vestibulum id ligula porta felis <a href="#">euismod semper</a>. Vivamus sagittis lacus vel.
    </div>
  </div>
</footer>
