<footer class="main-footer background-black">
  <div class="container-footer">
    <div class="flex-row top vert-top">
      <nav>
        <ul class="main-nav flex-row">
          <li class="col main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="/">Home</a></li>
              <li class="main-nav-item"><a href="/learn">Learn</a></li>
              <li class="main-nav-item"><a href="/community">Community</a></li>
            </ul>
          </li>
          <li class="col main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="/resources">Resources</a></li>
              <li class="main-nav-item"><a href="/services">Services</a></li>
              <li class="main-nav-item"><a href="/terms">Terms</a></li>
            </ul>
          </li>
          <li class="col social-nav main-nav-nested">
            <ul class="">
              <li class="main-nav-item"><a href="/contact" class="icon-email">Email</a></li>
              <li class="main-nav-item"><a href="https://github.com/ManifoldScholar" class="icon-github">Github</a></li>
              <li class="main-nav-item"><a href="https://twitter.com/manifoldscholar" class="icon-twitter">Twitter</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a href="/" class="main-logo">
        {% partial 'svgs/footer-logo' animated=animatedlogo %}
        <span>Manifold</span>
      </a>
    </div>
    <div>
      <form>
        <span class="search-input gray">
          <input  type="text" name="search" placeholder="Search">
        </span>
      </form>
{#       <span class="search-input gray">
        {% component 'manifoldsearchresults::form'  %}
      </span> #}
    </div>
    <div class="colophon">
      © {{ "now"|date("Y") }} Manifold.
    </div>
  </div>
</footer>
