[webpackAssets]
publicFolder = www
==

<head>
    <meta charset="utf-8">
    <title>{{ this.page.title_tag_value ?: this.page.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    {% set favicon = 'assets/images/favicons/favicon' %}
    <link rel="apple-touch-icon" sizes="96x96" href="{{ favicon | theme }}-96x96.png">
    <link rel="apple-touch-icon" sizes="32x32" href="{{ favicon | theme }}-32x32.png">
    <link rel="shortcut icon" sizes="16x16" href="{{ favicon | theme }}-16x16.png" type="image/png">
    <link rel="shortcut icon" href="{{ favicon | theme }}.ico" type="image/x-icon">

    <!-- Typekit fonts -->
    <script src="https://use.typekit.net/wso5cuh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {% styles %}

    {# Theme CSS #}
    {# Load Site styles via webpack or built #}
    {{ webpackAssets.css | raw }}
</head>
