<section class="background-primary {{extra_class}}">
      <div class="{{ small ? 'container-callout-quaternary' : 'block' }}">
      <div class="newsletter">
      <div class="newsletter-summary">
        {% if small %}
            <div class="sign-tertiary title">Sign up for the Manifold newsletter.</div>
        {% else %}
            <div class="heading-primary title">Follow our evolution. Sign up for the Manifold newsletter.</div>
            <div class="copy-primary description">We’re not inbox monsters. We only say something when we have something worth saying. </div>
        {% endif %}
      </div>
      <div class="newsletter-container">
        <div id="mc_embed_signup">
            <form action="https://manifoldapp.us14.list-manage.com/subscribe/post?u=81a2cb4ebc9b47294521b4148&amp;id=e7fca0a9c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-primary newsletter-form" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div class="form-group">
                  <!-- <div class="form-input">
                    <label for="mce-EMAIL"></label>
                    <input type="email" value="" name="EMAIL" placeholder="Enter your email address" class="required email" id="mce-EMAIL">
                  </div> -->
                  <div class="form-input">
                    <span class="submit-button button black">
                      <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe">
                    </span>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_81a2cb4ebc9b47294521b4148_e7fca0a9c3" tabindex="-1" value=""></div>
                </div>
            </div>
          </form>
        </div>
      </div>
      </div>
      </div>
</section>
