<section class="background-primary">
	<div class="block">
		<div class="flex-row newsletter {{ small ? 'small vert-centered' : '' }}">
			<div class="newsletter-summary">
        {% if small %}
  				<div class="sign-tertiary title">Sign up for the Manifold newsletter.</div>
        {% else %}
          <div class="heading-primary title">Follow our evolution. Sign up for the Manifold newsletter.</div>
  				<div class="copy-primary description">We’re not inbox monsters. We only say something when we have something worth saying. </div>
        {% endif %}
			</div>
      <div class="newsletter-container">
        <form class="form-primary newsletter-form">
            <div class="form-group">
                <div class="form-input">
                  <input type="email" value="" name="email" placeholder="Enter your email address">
                </div>
                <div class="form-input">
                  <button type="submit" class="submit-button button black">Sign up</button>
                </div>
            </div>
        </form>
      </div>
		</div>
	</div>
</section>
