<section class="background-primary">
	<div class="block">
		<div class="flex-row newsletter">
			<div class="newsletter-summary">
				<div class="heading-primary">Follow our evolution. Sign up for the Manifold newsletter.</div>
				<div class="copy-primary">We’re not inbox monsters. We only say something when we have something worth saying. </div>
			</div>
      <div class="newsletter-container">
        <form class="form-primary newsletter-form">
            <div class="form-groups">
                <div class="form-input">
                  <input type="email" value="" name="email" placeholder="Enter your email address">
                </div>
                <div class="form-input">
                  <button type="submit" class="submit-button button black">Sign up</button>
                </div>
            </div>
        </form>
      </div>
		</div>
	</div>
</section>
