.actions-grid {
  .block-intro {
    .heading-primary, .copy-secondary {
      color: $gray07;
    }
  }

}

.actions-badge {
  position: relative;
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background-color: $gray01;
  border-radius: 50%;

  @include respond($break20) {
    width: 66px;
    height: 66px;
  }

  &.active {
    background-color: $accentPale;
  }

  .icon {
    @include iconPre($human-reading);
    position: absolute;
    top: 14px;
    left: 0;

    @include respond($break20) {
      top: 10px;
    }


    &::before{
      font-size: 70px;
      color: $gray02;

      @include respond($break20) {
        font-size: 50px;
      }

      .active & {
        color: $accentPrimary;
      }
    }

    &::after {
      color: $gray03;

      .active & {
        color: $gray05;
      }
    }

    &.icon-book-page-turn::after {
      margin-top: -18px;
      font-size: 28px;

      @include respond($break20) {
        margin-top: -25px;
        font-size: 20px;
      }
    }

    &.icon-laptop::before {
      transform: scale(-1, 1);
    }

    &.icon-laptop::after {
      margin-top: -26px;
      font-size: 32px;

      @include respond($break20) {
        font-size: 23px;
      }
    }

    &.icon-bookpile-small::after {
      margin-top: -22px;
      font-size: 25px;

      @include respond($break20) {
        font-size: 18px;
      }
    }
  }
}

.actions-group {
  margin-top: 56px;
  text-align: center;

  @include respond($break20) {
    margin-top: 35px;
  }

  .heading-tertiary {
    margin-top: 26px;

    @include respond($break20) {
      margin-top: 10px;
    }
  }

  .actions {
    @include listUnstyled;
    flex-wrap: wrap;
    margin-top: 44px;

    @include respond($break60) {
      margin-top: -4px;
    }
  }
}

.action {
  width: calc(25% - 48px);
  text-align: center;

  @include respond($break110) {
    width: calc(25% - 2.33vw);
  }

  @include respond($break60) {
    width: calc(50% - 3.095vw);
    margin-top: 20px;
  }

  @include respond($break20) {
    width: calc(50% - 13px);
  }

  .icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 45px;
    font-size: 40px;
    color: $accentPrimary;
    vertical-align: middle;

    @include respond($break20) {
      font-size: 30px;
    }

    &.icon-glasses,
    &.icon-binoculars {
      font-size: 28px;

      @include respond($break20) {
        font-size: 21px;
      }
    }

    &.icon-pencil {
      font-size: 31px;

      @include respond($break20) {
        font-size: 23px;
      }
    }

    &.icon-wrench {
      font-size: 33px;

      @include respond($break20) {
        font-size: 25px;
      }
    }

    &.icon-word-bubble-multiple,
    &.transform-square-to-circle,
    &.icon-bar-graph {
      font-size: 36px;

      @include respond($break20) {
        font-size: 27px;
      }
    }

    &.icon-van-diagram {
      font-size: 44px;

      @include respond($break20) {
        font-size: 33px;
      }
    }
  }

  .action-name {
    margin-top: 30px;
    text-transform: uppercase;

    @include respond($break20) {
      margin-top: 15px;
    }
  }

  .action-description {
    margin-top: 10px;

    @include respond($break20) {
      margin-top: 2.8vw;
    }
  }
}
