.contact {
  align-items: baseline;
  max-width: 900px;
  margin: 0 auto;

  @include respond($break50) {
    display: block;
  }

  .full-width & {
    max-width: none;
  }

  .contact-summary, .contact-container {
    width: 50%;

    @include respond($break50) {
      width: 100%;
    }

    .title, .subtitle {
      color: $gray07;
    }

    .subtitle {
      margin-top: 28px;
    }
  }

  .contact-container {
    padding-left: 10%;

    @include respond($break50) {
      padding-left: 0;
    }
  }

  .contact-form {
    @include respond($break50) {
      margin: 24px auto 0;
    }

    .form-row {
      .form-input {
        + .form-input {
          margin-left: 20px;
        }
      }
    }

    textarea {
      resize: none;
    }

    .submit-button {
      display: inline-block;
      padding: 11px 12px;
      cursor: pointer;
      background-color: $gray01;

      &:hover {
        background-color: $accentPrimary;
      }
    }
  }

  .heading-primary {
    color: $white;
  }

  .copy-primary {
    margin-top: 26px;
  }
}

.contact-thank-you {
  .title {
    color: $white;
  }

  .message {
    margin-top: 20px;
    color: $offBlack;
  }
}

.contact-errors {
  margin-bottom: 20px;
  color: $gray07;

  ul {
    @include listTertiary;
    padding-top: 20px;
  }
}
