.docs {
  .flex-row {
    justify-content: flex-start;
  }
}

.docs-sidebar {
  width: $sidebarWidth;
  padding: 25px 50px 100px 0;
  border-right: 2px solid $gray03;

  h1 {
    display: none;
  }

  .search-block.form-primary {
    margin-bottom: 46px;

    .form-input {
      position: relative;

      &::before {
        display: none;
      }

      .icon {
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        font-size: 15px;
        color: $gray05;
        transition: color $duration $timing;
      }

      input {
        @include navSecondary;
        color: $gray05;
        background-color: $white;
        border-bottom-color: $gray05;
        transition: border-bottom-color $duration $timing;

        &::placeholder {
          color: $gray03;
        }

        &:focus {
          border-bottom-color: $accentPrimary;

          + .icon {
            color: $accentPrimary;
          }
        }
      }
    }
  }

  ul {
    @include fontHead;
    @include listUnstyled;
    font-size: 16px;
    font-weight: $regular;
    line-height: 1.2;

    > li {
      + li {
        padding-top: 15px;
      }

      ul {
        padding: 0 0 0 20px;

        li:first-child {
          padding-top: 23px;
        }

        li:last-child {
          padding-bottom: 8px;
        }
      }
    }
  }

  a {
    @include navSidebar;
    display: inline-block;
    padding-left: 24px;
    color: $gray05;
    text-decoration: none;

    &:hover, &.active {
      color: $accentSecondary;
    }
  }

  .toggle-indicator {
    @include iconPre($caret);
    display: inline-block;
    padding-right: 16px;
    font-size: 12px;
    color: $gray05;
    cursor: pointer;

    &:hover {
      color: $accentSecondary;
    }

    &::before {
      transition: transform $duration $timing;
      transform: rotate(0deg);
    }

    &.open {
      &::before {
        transform: rotate(90deg);
      }
    }

    + a {
      padding-left: 0;
    }
  }
}

.docs-main {
  width: calc(100% - 340px);
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: $containerPaddingMax;

  @include respond($break110 + $containerPaddingMax) {
    padding-left: $containerPaddingFlex;
  }

  @include respond($break20) {
    padding-left: $containerPaddingMin;
  }
}
