.docs {
  .flex-row {
    justify-content: flex-start;
  }
}

.docs-sidebar {
  min-width: $sidebarWidth;
  padding: 50px 24px 100px;
  background-color: $gray01;

  a {
    text-decoration: none;
  }

  h1 {
    @include fontHead;
    margin-bottom: 0.65em;
  }

  ul {
    @include fontHead;
    @include listUnstyled;
    font-size: 16px;
    font-weight: $regular;
    line-height: 1.2;

    > li {
      + li {
        padding-top: 6px;
      }

      ul {
        padding: 6px 0 0 15px;
      }
    }
  }
}

.docs-main {
  width: calc(100% - 340px);
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: $containerPaddingMax;

  @include respond($break110 + $containerPaddingMax) {
    padding-left: $containerPaddingFlex;
  }

  @include respond($break20) {
    padding-left: $containerPaddingMin;
  }
}
