.faqs {
  .title {
    margin-bottom: 24px;
    color: $accentPrimary;
  }
}

.faq {
  border-bottom: 2px solid $gray02;

  .accordion-toggle {
    position: relative;

    &::after {
      position: absolute;
      top: calc(50% - 6px);
      right: 0;
      transition: color $timing $duration;
    }

    &:hover {
      &::after {
        color: $accentPrimary;
      }

      .question {
        color: $accentPrimary;
      }
    }

    &.open {
      .question {
        color: $gray07;
      }
    }
  }


  .question {
    @include fontHead;
    display: inline-block;
    padding: 14px 26px 17px 0;
    font-size: 18px;
    font-weight: $medium;
    line-height: 1.2;
    color: $gray07;
    transition: color $timing $duration;

    @include respond($break20) {
      font-size: 16px;
    }
  }

  .answer {
    @include copyQuinary;
    padding: 6px 0 24px;
    font-size: 20px;
    color: $gray07;
  }
}
