.features {
  .flex-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -124px;

    @include respond($break110) {
      margin-left: -10.33vw;
    }

    @include respond($break20) {
      margin-left: -20px;
    }

    @include respond($break10) {
      margin-left: 0;
    }

    .col.col-3 {
      padding-left: 124px;

      @include respond($break110) {
        padding-left: 10.33vw;
      }

      @include respond($break30) {
        width: 50%;
      }

      @include respond($break20) {
        padding-left: 20px;
      }

      @include respond($break10) {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  .feature {
    margin-top: 28px;
  }

  .feature-name {
    @include fontHead;
    font-size: 14px;
    font-weight: $semibold;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .feature-description {
    margin-top: 6px;
  }
}
