.form-primary {
  .form-row {
    display: flex;

    .form-input {
      width: 50%;

      + .form-input {
        margin-top: 0;
        margin-left: 40px;
      }
    }
  }

  .form-row + .form-row,
  .form-row + .form-input,
  .form-input + .form-row,
  .form-input + .form-input {
    margin-top: 23px;

    @include respond($break50) {
      margin-top: 18px;
    }
  }

  .form-input {
    input[type='text'], input[type='email'], textarea {
      @include subheadingTertiary;
      width: 100%;
      padding: 11px 12px 13px;
      font-weight: $regular;
      color: $gray07;
      background: $white;
      background-color: $white;
      border: none;
      outline: none;

      &::placeholder {
        color: $gray07;
      }
    }

    input[type='submit'] {
      outline: none;

      &:focus {
        outline: none;
      }
    }

    textarea {
      @include copySecondary;
    }
  }
}
