.main-header {
  background-color: $white;

  .main-logo {
    font-size: 17px;
    color: $gray05;

    &:hover {
      color: $gray03;
    }
  }

  .search-link {
    &::before {
      color: $gray05;
    }
  }
}
