.newsletter {
  align-items: baseline;
  max-width: 900px;
  margin: 0 auto;

  @include respond($break50) {
    display: block;
  }

  .newsletter-summary, .newsletter-container {
    width: 50%;

    @include respond($break50) {
      width: 100%;
    }
  }

  .newsletter-form {
    padding-left: 10%;

    @include respond($break50) {
      max-width: 360px;
      padding-left: 0;
      margin: 24px auto 0;
    }
  }

  .title {
    color: $white;
  }

  .description {
    margin-top: 26px;
  }

  .submit-button {
    display: inline-block;
    width: 100%;
    padding: 11px 12px;

    &:hover {
      input[type='submit'] {
        background-color: $gray06;
      }
    }

    input[type='submit'] {
      @include buttonPrimary;
      width: 100%;
      padding: 0;
      color: $white;
      background-color: $gray07;
      border: 0;
      transition: background-color $timing $duration;
    }
  }
}

.newsletter.small {
  max-width: none;

  @include respond($break50) {
    display: flex;
  }

  @include respond($break30) {
    display: block;
  }

  .newsletter-summary {
    width: 40%;

    @include respond($break50) {
      width: 40%;
    }

    @include respond($break30) {
      width: 100%;
      text-align: center;
    }
  }

  .newsletter-container {
    width: 60%;

    @include respond($break50) {
      width: 60%;
    }

    @include respond($break30) {
      width: 100%;
    }
  }

  .newsletter-form {
    @include respond($break60) {
      margin: 0;
    }

    @include respond($break50) {
      padding-left: 10%;
    }

    @include respond($break30) {
      padding-left: 0;
      margin: 24px auto 0;
    }
  }

  .form-group {
    display: flex;
    justify-content: space-between;


    @include respond($break60) {
      display: block;
    }
  }

  .form-input {
    width: calc(100% - (138px + 16px));

    @include respond($break60) {
      width: 100%;
    }

    + .form-input {
      width: 138px;
      margin-top: 0;

      @include respond($break60) {
        width: 100%;
        margin-top: 18px;
      }
    }
  }
}
