.search-block {
  justify-content: center;

  .icon-manifold-doc {
    @include iconPre($manifold-doc);
    display: inline-block;
    padding-right: 32px;

    &::before {
      font-size: 58px;
      color: $accentPrimary;
    }

    &::after {
      display: none;
    }

    @include respond($break30) {
      padding-right: 5vw;

      &::before {
        font-size: 10vw;
      }
    }
  }

  &.form-primary .form-input {
    @include iconPre($magnify);
    position: relative;
    width: 100%;
    max-width: 400px;

    &::before {
      position: absolute;
      top: calc(50% - 7px);
      font-size: 15px;
      color: $accentPrimary;
    }

    input {
      padding: 11px 6px 7px 28px;
      font-size: 22px;
      color: $white;
      background-color: $gray07;
      border-bottom: 2px solid $accentPrimary;

      @include respond($break50) {
        max-width: 332px;
        font-size: 18px;
      }

      @include respond($break50) {
        font-size: 16px;
      }

      &::placeholder {
        color: $gray04;
      }

      &:focus {
        border-color: transparent transparent $accentPrimary transparent;
      }
    }
  }
}
