.services {
  .title {
    margin-bottom: 54px;
    margin-left: 106px;
    color: $white;

    @include respond($break110) {
      margin-bottom: 4.5vw;
      margin-left: 8.58vw;
    }

    @include respond($break50) {
      margin-left: 5vw;
    }

    @include respond($break20) {
      margin-bottom: $blockPaddingMin;
    }
  }
}

.digital-services {
  color: $gray07;

  .subtitle {
    margin-top: 20px;
  }

  .contact {
    margin-top: 50px;

    .organization {
      margin-top: 5px;
    }

    .email-link {
      @include iconPre($email);
      margin-top: 5px;
      color: $gray07;
      vertical-align: middle;

      &::before {
        padding-right: 8px;
        font-size: 12px;
        vertical-align: middle;
      }

      &:hover {
        color: $accentPrimary;
      }
    }
  }
}
