.summaries-list {
  @include doubleBox;
  padding: 60px;
  margin-right: 43px;
  margin-left: 43px;
  background-color: $white;

  @include respond($break110) {
    padding: 5vw;
    margin-right: 3.58vw;
    margin-left: 3.58vw;
  }

  @include respond($break50) {
    margin-right: 0;
    margin-left: 0;
  }

  @include respond($break30) {
    margin-right: 0;
    margin-left: 0;
  }

  + .summaries-list {
    margin-top: 63px;
  }

  .summaries-title {
    margin-bottom: 48px;

    @include respond($break50) {
      margin-bottom: 28px;
    }
  }

  .summary {
    + .summary {
      margin-top: 70px;

      @include respond($break50) {
        margin-top: 48px;
      }
    }
  }

  .summary-header {
    padding-bottom: 11px;
    margin-bottom: 25px;
    border-bottom: 3px solid $accentPrimary;

    .summary-subtitle {
      padding-left: 10px;
      color: $accentPrimary;
    }
  }

  .summary-body {
    .flex-row {
      justify-content: flex-start;

      @include respond($break50) {
        display: block;
      }

      + .copy-secondary {
        margin-top: 28px;
      }
    }

    .col {
      @include respond($break50) {
        display: block;
      }
    }

    .col + .col {
      margin-left: 160px;

      @include respond($break110) {
        margin-left: 13vw;
      }

      @include respond($break50) {
        margin-top: 28px;
        margin-left: 0;
      }
    }

    .copy-secondary {
      + * {
        margin-top: 28px;
      }
    }

    .subheading-secondary, h4 {
      @include subheadingSecondary;
      text-transform: uppercase;

      + ul {
        margin-top: 13px;
      }
    }

    ul {
      @include listPrimary;

      li {
        margin-left: 14px;
        text-indent: -14px;
      }

      ul {
        @include listSecondary;
        margin-top: 5px;
        margin-left: 4px;
      }

      + .copy-secondary {
        margin-top: 28px;
      }
    }
  }
}
