.summaries-list {
  @include doubleBox;
  padding: 60px;
  margin-right: 43px;
  margin-left: 43px;
  background-color: $white;

  + .summaries-list {
    margin-top: 63px;
  }

  .summaries-title {
    margin-bottom: 48px;
  }

  .summary {
    + .summary {
      margin-top: 70px;
    }
  }

  .summary-header {
    padding-bottom: 11px;
    margin-bottom: 25px;
    border-bottom: 3px solid $accentPrimary;

    .summary-subtitle {
      padding-left: 10px;
      color: $accentPrimary;
    }
  }

  .summary-body {
    .flex-row {
      justify-content: flex-start;
    }

    .col + .col {
      margin-left: 160px;

      @include respond($break110) {
        margin-left: 13vw;
      }
    }

    .copy-secondary {
      + * {
        margin-top: 28px;
      }
    }

    .subheading-secondary {
      text-transform: uppercase;

      + ul {
        margin-top: 13px;
      }
    }

    ul {
      @include listPrimary;

      li {
        margin-left: 14px;
        text-indent: -14px;
      }

      ul {
        @include listSecondary;
        margin-top: 5px;
        margin-left: 4px;
      }

      + .copy-secondary {
        margin-top: 28px;
      }
    }
  }
}
