.testimonials {
  padding-top: 60px;
  padding-bottom: 40px;

  .title {
    text-align: center;
    text-transform: uppercase;
  }

  .slider {
    margin-top: 62px;
  }

  .slider-pagers {
    @include respond($break70) {
      top: auto;
      bottom: 24px;
    }
  }
}

.testimonial {
  max-width: 681px;
  padding-left: 51px;
  margin: 0 auto;

  .quotation p {
    @include iconPre($quotes);
    text-indent: -25px;

    &::before {
      padding-right: 20px;
      font-size: 24px;
      color: $gray02;
      vertical-align: middle;
    }
  }

  .author {
    margin-top: 30px;
    color: $gray05;
  }

  .source {
    margin-top: 3px;
    color: $gray05;
  }
}
