.three-col-summaries {
  .summaries-title {
    text-align: center;
  }

  .summaries {
    margin-top: 54px;

    @include respond($break50) {
      display: block;
    }

    @include respond($break30) {
      margin-top: 45px;
    }

    .summary {
      width: calc(33.333% - 52px);
      padding-top: 20px;
      text-decoration: none;

      @include respond($break50) {
        width: 100%;
      }

      + .summary {
        @include respond($break50) {
          margin-top: 70px;
        }

        @include respond($break30) {
          margin-top: 50px;
        }
      }

      .image-wrapper {
        width: 187px;
        height: 117px;

        @include respond($break50) {
          height: auto;
        }

        @include respond($break30) {
          display: none;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .name {
        margin-top: 42px;
        color: $gray06;

        @include respond($break50) {
          /* stylelint-disable declaration-no-important */
          height: auto !important;
          /* stylelint-enable */
        }

        @include respond($break30) {
          margin-top: 0;
        }
      }

      .description {
        margin-top: 14px;
        color: $gray07;
      }

      .link {
        @include linkSecondary;
        display: inline-block;
        margin-top: 30px;

        &:hover {
          text-decoration: underline;
        }

        @include respond($break50) {
          display: block;
          font-size: 13px;
        }

        @include respond($break30) {
          margin-top: 15px;
        }
      }
    }
  }
}
