.three-col-summaries {
  .summaries-title {
    text-align: center;
  }

  .summaries {
    margin-top: 54px;

    @include respond($break50) {
      display: block;
    }

    .summary {
      // justify-content: space-between;
      width: calc(33.333% - 52px);
      padding-top: 20px;
      text-decoration: none;

      @include respond($break50) {
        width: 100%;
      }

      + .summary {
        @include respond($break50) {
          margin-top: 70px;
        }
      }

      &:hover {
        color: initial;

        .link {
          text-decoration: underline;
        }
      }

      .image-wrapper {
        width: 187px;
        height: 117px;

        @include respond($break50) {
          height: auto;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .name {
        margin-top: 42px;
        color: $gray06;

        @include respond($break50) {
          /* stylelint-disable declaration-no-important */
          height: auto !important;
          /* stylelint-enable */
        }
      }

      .description {
        margin-top: 14px;
        color: $gray07;
      }

      .link {
        display: inline-block;
        margin-top: 30px;
        font-size: 12px;
        color: $accentPrimary;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
