.two-column-newspaper {
  @include containerMain;

  @include respond($break20) {
    padding-right: 0;
    padding-left: 0;
  }

  .newspaper-title {
    // margin-top: 48px;
    text-align: center;
  }

  .newspaper-columns {
    margin-top: 50px;
    column-count: 2;
    column-gap: 85px;

    @include respond($break50) {
      column-count: 1;
      column-gap: 0;
    }
  }
}
