title = "Services"
url = "/services"
layout = "default"

==

{% partial 'callouts/one-button-hero' title='Manifold Digital Services' subtitle='<span class="color-primary">Manifold</span> was built to be easy to install and use. But we realize not everyone has the time or capacity to install and publish projects on their own. Which is why we offer a range of digital services to help you. We can help you set up your installation, publish projects, and follow through with technical support.' button_text="Contact Us" link='#' background="patterned-dark" %}

{% for service in seed.services %}
    {% if loop.index % 2 > 0 %}
        {% set background = 'gray' %}
    {% else %}
        {% set background = 'white' %}
    {% endif %}

    {% partial 'blocks/summaries-list' background=background title=service.title summaries=service.packages %}
{% endfor %}

{% partial 'blocks/block' title="MDS Contact Form" subtitle="<p>For project production help contact Terence Smyre, Digital Project Editor at the University of Minnesota Press. <a href='#'>tsmyre@umn.edu</a></p>" background="primary" %}

<!--We need this stuff for search:-->
<div class="qq-invisible">
    <div data-qq="title">Services</div>
    <div data-qq="local_uri">/services</div>
    <div data-qq="description">
        Manifold Services
    </div>
</div>
