description = "Default layout"

==

{% set navitems = [
  { url: "/", text: "Home" },
  { url: "/learn", text: "Learn" },
  { url: "/community", text: "Community" },
  { url: "/resources", text: "Resources" },
  { url: "/services", text: "Services" },
] %}

<!DOCTYPE html>
<html>
    {% partial "html-head" %}
    <body>
        <!-- Site Header, Nav -->
        {% if this.page.url == '/' %}
          {% partial "header" navitems=navitems animatedlogo='true' %}
        {% else %}
          {% partial "header" navitems=navitems %}
        {% endif %}

        <!-- Main page content -->
        <main>
          {% page %}
        </main>

        <!-- Footer navigation, colophon -->
        {% if this.page.url == '/' %}
          {% partial "footer" animatedlogo='true' %}
        {% else %}
          {% partial "footer" %}
        {% endif %}

        <!-- Footer Scripts (Load Javscript) -->
        {% partial "footer-scripts" %}
    </body>
</html>
