description = "Default layout"

[navigation]
==
function onStart() {
  if (env('APP_ENV') == 'production') {
    $this['includeTrackingSnippet'] = true;
  }
}
==

{% set isHome = this.page.url == navigation.getRootPage().url %}

<!DOCTYPE html>
<html>
    {% partial "html-head" %}
    <body>
        <!-- Site Header, Nav -->
        {% partial "header" animatedlogo=isHome %}
        <!-- Main page content -->
        <main>
          {% page %}
        </main>
        <!-- Footer navigation, colophon -->
        {% partial "footer" animatedlogo=isHome %}
        <!-- Footer Scripts (Load Javscript) -->
        {% partial "footer-scripts" %}
    </body>
</html>
