description = "Documentation layout"

==
function onStart() {
  if (env('APP_ENV') == 'production') {
    $this['includeTrackingSnippet'] = true;
  }
}
==

{% set navitems = [
  { url: "/", text: "Home" },
  { url: "/learn", text: "Learn" },
  { url: "/community", text: "Community" },
  { url: "/resources", text: "Resources" },
  { url: "/services", text: "Services" },
] %}

<!DOCTYPE html>
<html>
    {% partial "html-head" %}
    <body>
        <!-- Site Header, Nav -->
        {% partial "header" navitems=navitems animatedlogo=isHome extra_class="documentation-header" %}
        <!-- Main page content -->
        <main>
          {% page %}
        </main>
        <!-- Footer navigation, colophon -->
        {% partial "footer" animatedlogo=isHome extra_class="documentation-footer" %}
        <!-- Footer Scripts (Load Javscript) -->
        {% partial "footer-scripts" %}
    </body>
</html>
