description = "Placeholder page layout"

==

<!DOCTYPE html>
<html style="height: 100%">
    {% partial "html-head" %}
    <body style="height: 100%">

        <!-- Main page content -->
        <main class="placeholder-callout-container">
          <section class="background-patterned">
            <div class="placeholder-callout block">
              <div class="flex-row">
                <div class="col col-2 blurb">
                  <div class="heading-primary blurb-title">
                    Coming Soon:<br />
                    Manifold Scholarship
                  </div>
                  <div class="heading-primary blurb-subtitle">
                    Please check back in late December for our new Manifold website.
                  </div>
                  <div class="sign-secondary blurb-body">
                    The new site will provide details about the platform, installation and setup instructions, as well as documentation describing how to incorporate Manifold editions into your existing production processes.
                  </div>
                  <div class="sign-secondary blurb-body">
                    In the meantime, please read about recent releases on our <a href="http://manifold.umn.edu">development blog</a> and view our <a href="http://staging.manifoldapp.org">staging site</a> for an example of Manifold in action.
                    Follow Manifold's day-to-day development on <a href="https://github.com/ManifoldScholar/manifold">Github</a>.
                  </div>
                </div>
            </div>
          </section>
        </main>

        <!-- Footer Scripts (Load Javscript) -->
        {% partial "footer-scripts" %}
    </body>
</html>
