.docs-sidebar {
  width: $sidebarWidth;
  padding: 25px 50px 100px 0;
  background-color: $white;
  border-right: 2px solid $gray03;

  @include respond($break60) {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebarWidthMobile;
    height: 100vh;
    padding: 103px 50px 100px;
    transition: transform $durationSlow $timing;
    transform: translateX(-$sidebarWidth);

    &.open {
      z-index: 2;
      transform: translateX(0);
    }
  }

  h1 {
    display: none;
  }

  .sidebar-toggle {
    @include iconPost($caret);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    width: 45px;
    height: 100%;
    color: $accentSecondary;
    cursor: pointer;

    @include respond($break60) {
      display: block;
    }

    &::after {
      position: absolute;
      top: 118px;
      right: 18px;
      font-size: 16px;
      transition: font-size $duration $timing, transform $durationSlow $timing;
      transform: rotate(0deg);
    }

    &.open {
      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      &::after {
        font-size: 18px;
      }
    }
  }

  .search-block.form-primary {
    margin-bottom: 46px;

    .form-input {
      position: relative;

      &::before {
        display: none;
      }

      .icon {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 15px;
        color: $gray05;
        transition: color $duration $timing;
      }

      input {
        @include navSecondary;
        width: auto;
        padding-bottom: 3px;
        padding-left: 0;
        margin-left: 28px;
        color: $gray05;
        background-color: $white;
        border-bottom-color: $gray05;
        transition: border-bottom-color $duration $timing;

        &::placeholder {
          color: $gray03;
        }

        &:focus {
          border-bottom-color: $accentPrimary;

          + .icon {
            color: $accentPrimary;
          }
        }
      }
    }
  }

  ul {
    @include fontHead;
    @include listUnstyled;
    font-size: 16px;
    font-weight: $regular;
    line-height: 1.2;

    > li {
      + li {
        padding-top: 15px;
      }

      ul {
        padding: 0 0 0 24px;

        li:first-child {
          padding-top: 23px;
        }

        li:last-child {
          padding-bottom: 8px;
        }
      }
    }
  }

  a {
    @include navSidebar;
    display: inline-block;
    padding-left: 24px;
    color: $gray05;
    text-decoration: none;

    &:hover, &.active {
      color: $accentSecondary;
    }
  }

  .toggle-indicator {
    @include iconPre($caret);
    display: inline-block;
    padding-right: 16px;
    font-size: 12px;
    color: $gray05;
    cursor: pointer;

    &:hover {
      color: $accentSecondary;
    }

    &::before {
      transition: transform $duration $timing;
      transform: rotate(0deg);
    }

    &.open {
      &::before {
        transform: rotate(90deg);
      }
    }

    + a {
      padding-left: 0;
    }
  }
}
