<section class="background-gray">
	<div class="block">
		<div class="image-to-left-callout">
			<div class="flex-row callout-header">
				<div class="col"></div>
				<div class="col">
					<div class="sign-primary">{{ title }}</div>
					<div class="heading-primary">{{ subtitle }}</div>
				</div>
			</div>
			<div class="flex-row">
				<div class="image-wrapper col">
					<img src="{{ image_path }}">
				</div>
				<div class="col">
				<div class="copy-secondary callout-description">{{ description|raw }}</div>
				</div>
			</div>
		</div>
	</div>
</section>
