<section class="background-{{background}}">
  <div class="container-callout-tertiary">
    <div class="one-button-hero">
      {% if label %}
        <div class="label subheading-secondary">{{label}}</div>
      {% endif %}
      {% if image_path %}
        <img src="{{ image_path }}">
      {% endif %}
      <div class="heading-primary title">{{ title }}</div>
      <div class="sign-tertiary subtitle">{{ subtitle | raw }}</div>
      <a href="{{ link }}" class="button tall {{background == 'patterned' ? 'black' : 'primary' }}">{{ button_text }}</a>
    </div>
  </div>
</section>
