<section class="background-primary">
    <div class="container-callout-secondary">
        <div class="two-button-callout">
            {% partial 'blocks/intro' title=title subtitle=subtitle %}
            <div class="flex-row">
                <a href="{{button_one_link}}" class="col col-2 lat-centered">
                    <i class="icon-cloud"></i>
                    <div class="sign-secondary button-caption">
                        {{button_one_text}}
                    </div>
                    <span class="button black tall">Install Now</span>
                </a>
                <a href="{{button_two_link}}" class="col col-2 lat-centered">
                    <i class="icon-hand"></i>
                    <div class="sign-secondary button-caption">
                        {{button_two_text}}
                    </div>
                    <span class="button black tall">Assist Me</span>
                </a>
            </div>
        </div>
    </div>
</section>
