<section class="background-patterned">
	<div class="video-callout-centered next-background-{{ next_background }}">
		<div class="block">
			<div class="flex-col">
				<div class="blurb">
					<div class="heading-primary">
						{{ title | raw }}
					</div>
					<div class="sign-tertiary">
						{{ subtitle | raw }}
					</div>
				</div>
				<a href="{{ video_link }}" class="col col-2 video-link background-gray">
					<div class="triangle"></div>
					<div class="video-title">{{ video_title }}</div>
				</a>
			</div>
		</div>
	</div>
</section>
