<section class="background-patterned">
  <div class="video-callout block">
    <div class="flex-row">
      <div class="col col-2 blurb">
        <div class="heading-primary blurb-title">
          {{ title | raw}}
        </div>
        <div class="heading-primary blurb-subtitle">
          {{ subtitle | raw}}
        </div>
      </div>
      <a href="{{ video_link }}" class="col col-2 video-link background-white">
        <div class="triangle"></div>
        <div class="video-title">{{ video_title }}</div>
      </a>
  </div>
</section>
